@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

html {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.guide-wrapper {
    display: block;
    opacity: 0;
    transition: 0.5s ease-in;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--font-color);
    background-color: black;
    box-shadow: rgba(60, 64, 67, 0.3) 1px 2px 3px 1px, rgba(60, 64, 67, 0.15) 1px 3px 7px 3px;
}

.guide-content:nth-child(1):hover {
    cursor: pointer;
}

.guide-content:nth-child(2):hover {
    cursor: zoom-in;
}

.guide-content:nth-child(3):hover {
    cursor: move;
}

.info-wrapper {
    display: block;
    border: 1px solid var(--font-color);
    background-color: black;
}

.profile-wrapper {
    display: block;
    opacity: 1;
    transition: 0.5s ease-in;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--font-color);
    background-color: black;
    box-shadow: rgba(60, 64, 67, 0.3) 1px 2px 3px 1px, rgba(60, 64, 67, 0.15) 1px 3px 7px 3px;
}

.guide-wrapper-shown {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--font-color);
    background-color: black;
    box-shadow: rgba(60, 64, 67, 0.3) 1px 2px 3px 1px, rgba(60, 64, 67, 0.15) 1px 3px 7px 3px;
    z-index: 2;
}

.guide-container {
    display: flex;
}

.guide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    min-width: 300px;
}

    .guide-content i {
        font-size: 40px;
        color: #ffff;
    }

    .guide-content h2 {
        font-family: "Poppins", sans-serif !important;
        font-size: 20px;
        color: #ffff;
    }

.guide-info {
    display: flex;
    align-items: center;
    height: 100px;
    width: 200px;
}

    .guide-info h3 {
        font-family: "Poppins", sans-serif !important;
        text-align: center;
        font-size: 14px;
        color: #ffff;
    }

.guide-close-btn {
    display: flex;
    position: absolute;
    right: 0;
    padding: 10px;
    border-radius: 50%;
    margin: 5px 5px 0 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #ffff;
}

    .guide-close-btn i {
        margin-top: -5px;
        cursor: pointer;
        font-size: 20px;
    }

.upload-wrapper {
    display: block;
    border: 1px solid black;
    margin-right: 15px;
    background-color: white;
    z-index: 99;
    width: calc(100% - 0px);
    position: absolute;
    top: 70px;
}

.upload-container {
    display: flex;
    flex-direction: column;
    z-index: 99;
    background-color: var(--bg-color);
}

.upload-header {
    display: flex;
    border: 1px solid var(--font-color);
    padding: 30px;
}

.upload-body {
    border: 1px solid var(--font-color);
}

.upload-footer {
    border: 1px solid var(--font-color);
}

.upload-header button {
    display: flex;
    border: none;
}

.upload-btn {
    border: none;
    padding: 20px 20px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;
}

.upload-header span {
    font-size: 30px;
    font-weight: 600;
    color: var(--font-color);
}

.upload-body span {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
}

.upload-body input {
    font-size: 20px;
}

.upload-submit {
    width: 100%;
}

.parameter-wrapper {
    display: block;
    border: 1px solid var(--font-color);
    margin-right: 15px;
    background-color: white;
    z-index: 99;
    width: calc(100% - 300px);
    position: absolute;
    top: 70px;
}

.parameter-container {
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.parameter-header {
    display: flex;
    border: 1px solid var(--font-color);
}

.parameter-body {
    border: 1px solid var(--font-color);
}

.parameter-footer {
    border: 1px solid var(--font-color);
}

.info-mode-wrapper {
    display: block;
    border: 1px solid var(--font-color);
    margin-right: 15px;
    background-color: white;
    z-index: 99;
    width: calc(100% - 300px);
    position: absolute;
    top: 70px;
}

.info-mode-container {
    display: flex;
    flex-direction: column;
}

.info-mode-header {
    display: flex;
    border: 1px solid var(--font-color);
}

.info-mode-body {
    border: 1px solid var(--font-color);
}

.info-mode-footer {
    border: 1px solid var(--font-color);
}

.info-mode-header button {
    display: flex;
    border: none;
}

.info-mode-btn {
    border: none;
    margin-left: 10px;
    padding: 5px 10px;
}

.display-wrapper {
    display: block;
    border: 1px solid var(--font-color);
    margin-right: 15px;
    background-color: white;
    z-index: 99;
    width: calc(100% - 300px);
    position: absolute;
    top: 70px;
}

.display-container {
    display: flex;
    flex-direction: column;
}

.display-header {
    display: flex;
    margin: 5px;
}

    .display-header i {
        color: black;
        font-size: 24px;
        margin-left: 5px;
    }

.search-wrapper {
    display: block;
    border: 1px solid var(--font-color);
    margin-right: 15px;
    background-color: white;
    z-index: 99;
    width: calc(100% - 300px);
    position: absolute;
    top: 70px;
}

.search-container {
    display: flex;
    flex-direction: column;
}

.search-header {
    display: flex;
    border: 1px solid var(--font-color);
}

.search-body {
    border: 1px solid var(--font-color);
}

.search-footer {
    border: 1px solid var(--font-color);
}

.status-wrapper {
    display: block;
    border: 1px solid var(--font-color);
    margin-right: 15px;
    background-color: white;
    z-index: 99;
    width: calc(100% - 300px);
    position: absolute;
    top: 70px;
}

.status-container {
    display: flex;
    flex-direction: column;
}

.status-header {
    display: flex;
    border: 1px solid var(--font-color);
}

.status-body {
    border: 1px solid var(--font-color);
    max-height: 500px;
    overflow: auto;
}

.library-wrapper {
    display: block;
}

.library-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}

.library-header {
    display: flex;
    border: 1px solid var(--font-color);
    padding: 20px;
    position: relative;
}

.filter-category {
    position: absolute;
    top: 5px;
    right: 10px;
    max-width: 300px;
    height: 50px;
    color: var(--font-color);
    background-color: var(--sidebar-color);
}

    .filter-category select {
        font-size: 16px;
    }

.library-body {
    padding: 20px 0 20px 0;
    display: grid;
    margin-top: 10px;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    column-gap: 40px;
    row-gap: 30px;
}

.library-content {
    border: 1px solid black;
    margin: 10px;
    max-height: 350px;
    max-width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.library-content-add {
    border: 2px solid black;
    border-style: dashed;
    margin: 10px;
    max-height: 350px;
    max-width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .library-content-add img {
        min-height: 300px;
    }

.library-content img {
    object-fit: scale-down;
    height: 300px;
    width: 300px;
}

.library-content i {
    font-size: 20px;
    font-weight: 600;
}

.library-header span {
    font-size: 30px;
    font-weight: 600;
    color: var(--font-color);
}

.library-add {
    color: black;
    font-size: 50px;
}

.library-user {
    color: black;
    position: absolute;
    left: 5px;
    bottom: 5px;
    text-decoration: none;
}

.library-like {
    color: black;
    position: absolute;
    right: 5px;
    top: 5px;
}

.library-download {
    color: black;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.canvas-container {
    margin: 0;
    overflow: hidden;
    border: 1px solid black;
    width: calc(100% - 15px);
    /* max-height: 1080px; */
}

.canvas {
    display: block;
    width: 100%;
    max-height: 1080px;
}


.user-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.user-body {
    overflow-x: auto;
}

    .user-body button:hover {
        background-color: darkblue;
        color: white;
    }

.user-header h2 {
    font-weight: 600;
    margin-left: 10px;
}

.add-userbtn {
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
}

.adduser-wrapper {
    font-family: "Poppins", sans-serif !important;
    max-width: 700px;
    width: 700px;
    padding: 25px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .adduser-wrapper h2 {
        font-family: "Poppins", sans-serif !important;
        font-size: 1.5rem;
        color: #333;
        font-weight: 500;
        text-align: center;
        margin-bottom: 30px;
    }

.adduser-submitbtn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

    .adduser-submitbtn button {
        padding: 0 50px;
        background: #4272d7;
        display: inline-block;
        line-height: 50px;
        transition: all 0.4s ease;
        outline: none;
        border: none;
        color: #fff;
        border-radius: 5px;
    }

@media (min-width: 10px) {
    .modal-dialog#guide {
        max-width: 350px;
    }

    .guide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 180px;
        min-width: 110px;
    }

        .guide-content i {
            font-size: 20px;
            color: #ffff;
        }

        .guide-content h2 {
            font-size: 10px;
            color: #ffff;
        }

    .guide-info {
        align-items: center;
        height: 50px;
        width: 80px;
    }

        .guide-info h3 {
            text-align: center;
            font-size: 8px;
            color: #ffff;
            line-height: 1;
        }

    .guide-close-btn {
        display: flex;
        position: absolute;
        right: 0;
        padding: 10px;
        border-radius: 50%;
        margin: 5px 5px 0 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        background-color: #ffff;
    }

        .guide-close-btn i {
            margin: -9px 0px 0 -6px;
            cursor: pointer;
            font-size: 14px;
        }

    .library-body {
        padding: 20px 0 20px 0;
        display: grid;
        margin-top: 10px;
        grid-template-columns: auto;
        justify-content: space-evenly;
        column-gap: 40px;
        row-gap: 30px;
    }

    .filter-category {
        max-width: 100px;
    }

    .user-header h2 {
        font-weight: 600;
        margin-left: 10px;
        font-size: 24px;
        color: var(--font-color);
    }
}


@media (min-width: 576px) {
    .modal-dialog#guide {
        max-width: 350px;
    }

    .guide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 180px;
        min-width: 110px;
    }

        .guide-content i {
            font-size: 20px;
            color: #ffff;
        }

        .guide-content h2 {
            font-size: 10px;
            color: #ffff;
        }

    .guide-info {
        align-items: center;
        height: 50px;
        width: 80px;
    }

        .guide-info h3 {
            text-align: center;
            font-size: 8px;
            color: #ffff;
            line-height: 1.5;
        }

    .guide-close-btn {
        display: flex;
        position: absolute;
        right: 0;
        padding: 10px;
        border-radius: 50%;
        margin: 5px 5px 0 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        background-color: #ffff;
    }

        .guide-close-btn i {
            margin: -9px 0px 0 -6px;
            cursor: pointer;
            font-size: 14px;
        }

    .library-body {
        padding: 20px 0 20px 0;
        display: grid;
        margin-top: 10px;
        grid-template-columns: auto;
        justify-content: space-evenly;
        column-gap: 40px;
        row-gap: 30px;
    }

    .filter-category {
        max-width: 125px;
    }

    .user-header h2 {
        font-weight: 600;
        margin-left: 10px;
        font-size: 30px;
    }
}

@media (min-width: 768px) { /*Tablets*/
    .modal-dialog#guide {
        max-width: 550px;
    }

    .guide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 250px;
        min-width: 175px;
    }

        .guide-content i {
            font-size: 24px;
            color: #ffff;
        }

        .guide-content h2 {
            font-size: 12px;
            color: #ffff;
        }

    .guide-info {
        display: flex;
        align-items: center;
        height: 80px;
        width: 160px;
    }

        .guide-info h3 {
            text-align: center;
            font-size: 10px;
            color: #ffff;
            line-height: 1.8;
        }

    .guide-close-btn {
        display: flex;
        position: absolute;
        right: 0;
        padding: 10px;
        border-radius: 50%;
        margin: 5px 5px 0 0;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: none;
        background-color: #ffff;
    }

        .guide-close-btn i {
            margin: -5px 0 0 -2px;
            cursor: pointer;
            font-size: 14px;
        }

    .library-body {
        padding: 20px 0 20px 0;
        display: grid;
        margin-top: 10px;
        grid-template-columns: auto;
        justify-content: space-evenly;
        column-gap: 40px;
        row-gap: 30px;
    }

    .filter-category {
        max-width: 150px;
    }
}

@media (min-width: 992px) { /*Desktop*/
    .modal-dialog#guide {
        max-width: 750px;
    }

    .guide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 350px;
        min-width: 250px;
    }

        .guide-content i {
            font-size: 36px;
            color: #ffff;
        }

        .guide-content h2 {
            font-size: 16px;
            color: #ffff;
        }

    .guide-info {
        display: flex;
        align-items: center;
        height: 90px;
        width: 180px;
    }

        .guide-info h3 {
            text-align: center;
            font-size: 12px;
            color: #ffff;
            line-height: 2;
        }

    .guide-close-btn {
        display: flex;
        position: absolute;
        right: 0;
        padding: 10px;
        border-radius: 50%;
        margin: 5px 5px 0 0;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border: none;
        background-color: #ffff;
    }

        .guide-close-btn i {
            margin-top: -4px;
            cursor: pointer;
            font-size: 16px;
        }

    .library-body {
        padding: 20px 0 20px 0;
        display: grid;
        margin-top: 10px;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        column-gap: 40px;
        row-gap: 30px;
    }

    .filter-category {
        max-width: 200px;
    }
}

@media (min-width: 1200px) { /*Large Desktop*/
    .modal-dialog#guide {
        max-width: 950px;
    }

    .guide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
        min-width: 300px;
    }

    .library-body {
        padding: 20px 0 20px 0;
        display: grid;
        margin-top: 10px;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
        column-gap: 40px;
        row-gap: 30px;
    }

    .filter-category {
        max-width: 250px;
    }
}

@media (min-width: 1800px) {
    .library-body {
        padding: 20px 0 20px 0;
        display: grid;
        margin-top: 10px;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
        column-gap: 40px;
        row-gap: 30px;
    }

    .filter-category {
        max-width: 300px;
    }
}
